{% extends '@SfsShop/layout.html.twig' %}

{% block content %}

    {% if cart.entries.count == 0 %}
        The cart is empty
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>

            <tbody>
            {% for entry in cart.entries %}
                <tr>
                    <td>{{ entry.item.name }}</td>
                    <td>{{ entry.item.price }}</td>
                    <td>{{ entry.quantity }}</td>
                    <td>{{ entry.totalPrice }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}