{% trans_default_domain 'sfs_shop' %}
{% extends '@SfsShop/admin_layout.html.twig' %}
{% block title %}{{ 'admin_orders.read.page_title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ entity.name }}</h1>
{% endblock content %}