{% trans_default_domain 'sfs_shop' %}

{% for customer in entities %}
    <tr>
        <td>
            <a href="{{ url('sfs_shop_admin_customers_read', {'entity':customer}) }}">{{ customer.name }}</a>
        </td>

        <td align="right">
            <a href="{{ url('sfs_shop_admin_customers_update', {'entity':customer}) }}">update <span class="mdi mdi-18px mdi-square-edit-outline align-middle"></span></a>
        </td>
    </tr>
{% endfor %}